
.formacion{
    margin-top: 8%;
    text-align: center;
}
.flexFormacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    padding-left: 19%;
 
    margin-top: 4%;
    text-align: left;
}
.divContenidoFormacion{
    width: 47%;
    margin-top: 2%;
}
.divImagenFormacion{
    width: 50%;
    margin-left: 10%;
}
.divImagenFormacionCorta{
    display: none;
}
.imagenformacion{
    width: 40%;
    border-radius: 20px;
    
}
.imagenformacionCorta{
   display: none;
    
}
.subTitle{
    font-size: 0.5cm;
}
@media (max-width: 1000px) {
    .imagenProfile{
        margin-top: 25%;
    }
    .container {
        grid-template-columns: repeat(4, 3cm);
        
      }

    .imagenformacion{
        width: 60%;
      margin-top: 35%;
      
    }
    .divExperiencia{
        width: 60%;
    }
    .imgP{
        width: 90%;
        margin-top: 35%;
    }
   
}

@media (max-width: 800px) {
    
    .imagenformacion{
        display: none;
    }
    .imagenformacionCorta{
        display: block;
        width: 45%;
        border-radius: 10px;
         
     }
    .divImagenFormacionCorta{
        display: contents;
    }
    .flexFormacion{
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0%;
    }
    .divContenidoFormacion{
        width: 70%;
    }
}
@media (max-width: 500px) {
    
    .contenido{
        font-size: 0.3cm;
    }
    .titleForm{
        font-size: 0.5cm;
    }
    .subTitle{
        font-size: 0.4cm;
    }
   
    .contenidoSub{
        font-size: 0.4cm;
    }
    
}

@media (max-width: 400px) {
    .titleForm{
        font-size: 0.4cm;
    }
}