<div class="formacion" id="formacion">
    <h1 style="border-bottom: 5px solid  #cf9a64; display: inline-block;">Formación académica</h1>
    <div class="flexFormacion">
        <div class="divContenidoFormacion">
            <h2 class="titleForm">Técnico superior en Desarrollo de aplicaciones web</h2>
            <p  class="subTitle">IES Jacarandá 2022-2024</p>
            <ul class="contenido">
                <li><strong>Conocimientos adquiridos</strong></li>
                    <p>Angular, Angular 17, JavaScript, TypeScript, HTML5, CSS, React, NodeJs, ExpressJs, 
                        Java, Java Orientada a Objetos, Python, SpringBoot, JSP, Oracle, MySQL, MongoDB, PL/SQL, 
                        JSON, UML, Testing Unitario, Redes, Diseño de interfaces, Git, Jenkins, Docker, Docker-compose</p>
                <li><strong>Habilidades adquiridas</strong></li>
                    <p>Trabajo en equipo, autonomía, manejo de grandes cargas de trabajo, responsabilidad en el 
                    trabajo, capacidad de rápido aprendizaje, resolución de problemas</p>
            </ul>
        </div>
        <div class="divImagenFormacion"><img src="../../assets/img/des.jpg" class="imagenformacion"></div>
        <div class="divImagenFormacionCorta"><img src="../../assets/img/desCosta.jpg" class="imagenformacionCorta"></div>
    </div>
   </div>
