<div class="body sora">
   <div class="inicio" id="inicio">
    <div class="flexSobremi">
        <div class="divImagen"><img src="../../assets/img/yo.jpeg" class="imagenProfile"></div>
        <div class="divContenido">
            <h1 style="border-bottom: 5px solid  #cf9a64; display: inline-block;" class="titleSobreMi">María Cristina Sánchez Acosta</h1>
            <h3 style="margin-top: 3%; " class="dev">Desarrolladora Full Stack</h3>
            <p class="contenido">Soy técnico superior en desarrollo de aplicaciones web, apasionada por la programación y por seguir adquiriendo nuevos conocimientos. Soy una persona muy activa y con una actitud positiva. Entre mis aptitudes destacan mi organización, desempeño, flexibilidad, optimización del tiempo y del trabajo.</p>
            <p class="contenido">Disfruto tanto del desarrollo frontend como del backend. Desde diseñar interfaces atractivas y funcionales hasta construir la lógica que las hace funcionar, siempre estoy buscando nuevos desafíos y oportunidades para aprender y crecer en el mundo del desarrollo web.</p>
        </div>
    </div>
   </div>

   <div class="tecnologias">
    <h1 style="border-bottom: 5px solid   #cf9a64; display: inline-block;">Tecnologías</h1>
    <div>
        <div class="container">
            <div
              class="square"
              *ngFor="let square of squaress; let i = index"
            >
              <img class="iconImage" src="../../assets/img/{{square.icon}}">
            </div>
          </div>
    </div>
   </div>
   <app-formacion></app-formacion>
   <app-experiencia></app-experiencia>
   <app-proyectos></app-proyectos>

   <div class="contacto" id="contactos">
    <h1 style="border-bottom: 5px solid  #cf9a64; display: inline-block">Contacta conmigo</h1>
    <div class="flexContacto">
        <div class="cuadrado"><a href="https://www.linkedin.com/in/cristina-s%C3%A1nchez-acosta-966913253?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BwqmEUeLLQa6YMs0mvZiCFQ%3D%3D"><img class="linkedin" src="../../assets/img/linkedin (4).png"></a></div>
        <div class="cuadrado"><a href="https://github.com/cristina041006"><img class="linkedin" src="../../assets/img/github.png"></a></div>
        <div class="cuadrado"><a href="mailto:cristinasanchezacosta24@gmail.com"><img class="linkedin" src="../../assets/img/correo-electronico (1).png"></a></div>
        <div class="cuadrado"><img class="linkedin" src="../../assets/img/curriculum.png"></div>
    </div>
   </div>
</div>

<div class="footer">
    <div class="flexFooter">
        <div class="ff nombre oswald nombreFooter">María Cristina Sánchez</div>
        <div class="ff">© Copyrigth 2024</div>
        <div class="ff flexinflex">
            <div class="cuadradofooter"><img class="imagenFooter" src="../../assets/img/linkedin (4).png"></div>
            <div class="cuadradofooter"><img class="imagenFooter" src="../../assets/img/github.png"></div>
            <div class="cuadradofooter"><img class="imagenFooter" src="../../assets/img/correo-electronico (1).png"></div>
        </div>
    </div>
</div>

<app-circulo></app-circulo>