.divImagen{
    width: 50%;
}
.imagenProfile{
    width: 50%;
    border-radius: 10%;
    margin-left: 35%;
}
.flexSobremi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    padding-left: 1%;
    padding-right: 12%;
}
.divContenido{
    width: 50%;
    margin-top: 2%;
}
.body{
    margin-top: 5%;
}




.tecnologias{
    margin-top: 8%;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 3cm);
    grid-gap: 20px; /* Espacio entre cuadrados */
    justify-content: center; /* Centrar el contenido en la página */
    margin-top: 50px; /* Margen superior para centrar verticalmente */
  }
  
  .square {
    width: 3cm;
    height: 3cm;
    background-color: #deccb0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .iconImage{
    width: 2.5cm;
  }
  
  .square:hover {
    transform: scale(1.1); /* Cambio de color al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .icon {
    font-size: 24px; /* Ajusta el tamaño del icono */
  }
  
  .tooltip {
    position: absolute;
    bottom: -25px; /* Ajusta la posición del tooltip */
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap; /* Evitar que el texto se rompa */
    font-size: 12px;
    z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
    display: none; /* Oculta por defecto */
  }





.contacto{
    margin-top: 8%;
    text-align: center;
    margin-bottom: 3%;
}

.flexContacto{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.cuadrado{
    margin: 1%;
    padding: 1%;
    width: 3cm;
}

.linkedin{
    width: 90%;
}

.footer{
    height: 10vh;
    background: white; /* El fondo del footer es blanco */
    background: linear-gradient(to top, white 90%, #e9decd); /* Degradado sutil del blanco al color del body */
}
.flexFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 7%;
}
.flexinflex{
    display: flex;
    width: 8cm;
    
}

.ff{
    margin: 1%;
}
.cuadradofooter{
    margin: 2%;
    padding: 1%;
}
.imagenFooter{
    width: 50%;
}
.nombre{
    color: #cf9a64;
    font-size: 0.7cm;
}
.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
@media (max-width: 1000px) {
    .imagenProfile{
        margin-top: 25%;
    }
    .container {
        grid-template-columns: repeat(4, 3cm);
        
      }
   
}

@media (max-width: 800px) {
    .flexSobremi{
        flex-direction: column;
        align-items: center;
        padding-right: 0%;
        padding-left: 0%;
    }
    .imagenProfile{
        margin-top: 2%;
        margin-left: 20%;
    }
    .divContenido{
        width: 70%;
    }
    .linkedin{
        width: 75%;
    }
   
}
@media (max-width: 650px) {
    .square {
        width: 2cm;
        height: 2cm;
    }
    .iconImage{
        width: 1.5cm;
    }
    .container{
        grid-gap: 10px;
        justify-items: center;
        grid-template-columns: repeat(4, 2cm);

    }
    .linkedin{
        width: 60%;
    }
    
}
@media (max-width: 550px) {
    .flexFooter{
        flex-direction: column;
    }
    .footer{
        height: 20vh;
    }
    .nombreFooter{
        margin-top: 5%;
    }
    .linkedin{
        width: 75%;
    }
    .cuadrado{
        width: 2cm;
    }
}

@media (max-width: 500px) {
    .titleSobreMi{
        font-size: 0.5cm;
    }
    .dev{
        font-size: 0.4cm;
        margin-bottom: 4%;
    }
    .contenido{
        font-size: 0.3cm;
    }
    .linkedin{
        width: 75%;
    }
    .cuadrado{
        width: 2cm;
    }
}
