<div class="proyectos" id="proyectos">
    <h1  style="border-bottom: 5px solid  #cf9a64; display: inline-block;">Proyectos</h1>
    <div class="flexProyecto">
        <div class="imagenProyecto"><a href="https://gamer-place.vercel.app/" target="_blank"><img class="imgP" src="../../assets/img/proyecto.PNG"></a></div>
        <div class="contenidoProyecto">
            <h3 class="titleForm"><strong><a style="color: black;" href="https://gamer-place.vercel.app/" target="_blank">Gamer Place</a></strong></h3>
            <p class="contenidoSub" style="font-style: italic;">Proyecto creado y diseñado como trabajo de fin de grado</p>
            <p class="contenido">Gamer Place es una página de compra y venta de videojuegos que te permitirá comprar tus videojuegos favoritos, nuevos o de segunda mano, además de darte la posibilidad de vender los videojuegos que ya no utilizas para poder adquirir nuevos. Aparte, podrás descubrir las opiniones de los demás usuarios y compartir vuestros gustos en el chat de la página, donde los usuarios podrán hablar entre ellos como en una comunidad.</p>
            <p class="contenido"><strong>El contenido de esta página es completamente ficticio y creado con la finalidad de que sea una página funcional, por lo que los videojuegos y demás datos son ficticios.</strong></p>
            <p class="contenido"><strong>Esta página está subida en un servidor gratuito, por lo que la primera carga puede tardar unos minutos.</strong></p>
            
        </div>
    </div>
   </div>