<nav class="navbar navbar-expand-lg navMio">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><span class="nombre oswald"> María Cristina Sánchez </span><span class="puesto sora">Desarrolladora Full Stack</span> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse lista" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active sora" aria-current="page" href="#inicio">Inicio</a>
          </li>
          <li class="nav-item sora">
            <a class="nav-link" href="#formacion">Formación</a>
          </li>
          <li class="nav-item sora">
            <a class="nav-link" href="#experiencia">Experiencia</a>
          </li>
          <li class="nav-item sora">
            <a class="nav-link" href="#proyectos">Proyectos</a>
          </li>
          <li class="nav-item sora">
            <a class="nav-link" href="#contactos">Contactos</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </div>
</nav>
<app-body></app-body>
