<div class="experiencia" id="experiencia">
    <h1 style="border-bottom: 5px solid  #cf9a64; display: inline-block;">Experiencia laboral</h1>
    <div class="flexExperiencia">
        <div class="divExperiencia">
            <h3 class="titleEx"><strong>Desarrolladora Front-end</strong></h3>
            <p class="contenidoSub">Babel (Sevilla) | Hibrido | Abril 2024 - Junio 2024</p>
            <ul class="contenido">
                <li> Análisis de proyectos antiguos en distintos lenguajes</li>
                <li> Realización de distintas documentaciones</li>
                <li> Desarrollo en Angular de proyectos en el departamento de Front-end utilizando
                    distintas versiones de Angular y de NodeJs, trabajando principalmente en
                    formularios con ReactiveForms configurando diferentes Interceptores entre otras
                    actividades. Además de modificar la interfaz a gusto del cliente</li>
                <li>Reuniones con clientes presentando los proyectos y realizando continuos feedback</li>
            </ul>
        </div>
    </div>
</div>
